# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
.next/
out/
build/
*.tsbuildinfo

# Turbo
.turbo/

# Env
.env
.env.local
.env.*.local
!.env.example

# Prisma
packages/database/generated/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage/

# IDE / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# Docker
*.pid

# Redis dump (local dev artifact)
*.rdb
